*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  font-size: 18px;
  color: #293241;
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  flex-direction: row;
}
/* Main header */
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 93px;
  background: rgba(255, 255, 255, 1);
  position: sticky;
  top: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.main-nav {
  margin: 19px 100px;
}

.logo {
  position: absolute;
  width: 148px;
  height: 56px;
  top: 24px;
}

.page-navigation {
  width: 275px;
  height: 24px;
}

.navigation-itiems {
  justify-content: center;
  padding: 0;
  gap: 64px;
  list-style: none;
  position: absolute;
  top: 16px;
  left: 862px;
}

.navigation-itiem a {
  text-decoration: none;
  color: rgba(41, 50, 65, 1);
}
.navigation-itiem a:hover {
  font-weight: bold;
}

.button-style {
  background-color: #ee6c4d;
  color: #ffffff;
  border: none;
  border-radius: 48px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  height: 43px;
  padding: 8px 25px;
}

.button-style:hover {
  background-color: #f5ef53;
  color: #293241;
  font-weight: bold;
}

header .button-style {
  position: absolute;
  top: 25px;
  left: 1218px;
  width: 122px;
}

/* hero section */

.hero-container {
  background-image: url(./images/hero.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 790px;
  height: 631px;
  margin: 20px 103px 103px 103px;
}

h1 {
  padding-top: 160px;
  font-size: 50px;
  color: #ee6c4d;
  width: 494px;
  margin: 0px;
}
.hero-text {
  font-size: 20px;
  width: 360px;
  margin-top: 0px;
  margin-bottom: 24px;
}

/* popular destinations section */
.popular-destinations {
  background-image: url(./images/destinations_background.png);
  background-repeat: no-repeat;
  height: 1053px;
}

h2 {
  text-align: center;
  color: #ffffff;
  font-size: 36px;
  padding-top: 150px;
  padding-bottom: 30px;
  margin: 0px;
}

.popular-destinations-img {
  margin-left: 100px;
  margin-right: 100px;
}

.image {
  margin: 20px;
}

.main-image {
  width: 277px;
  height: 408px;
  border-radius: 20px;
  object-fit: cover;
  margin-bottom: 26px;
}

figcaption {
  width: 277px;
  height: 113px;
  background: #ffffff;
  border-radius: 20px;
  padding: 10px 0px 0px 20px;
}

.text-24 {
  font-size: 24px;
  font-weight: bold;
}

/*About us section*/

.about-us {
  width: 1240px;
  height: 679px;
  margin-left: 116px;
  margin-right: 84px;
  margin-bottom: 357px;
}

#about-us h2 {
  color: #293241;
  margin: 0 50px;
}

.about-us-text {
  margin-top: 30px;
  font-size: 24px;
  width: 664px;
}
.orange-text {
  color: #ee6c4d;
  font-weight: bold;
}
.about-us-image {
  width: 593px;
  height: 575px;
}

/*Subscribe section*/
.subscribe {
  background: #293241;
  margin-left: 108px;
  margin-right: 92px;
  margin-bottom: 119px;
  width: 1240px;
  height: 397px;
  border-radius: 50px;
}
.subscribe h2 {
  text-align: left;
  padding-top: 81px;
  padding-bottom: 10px;
  font-size: 36px;
}

.subscribe-text {
  margin-left: 106px;
  color: #ffffff;
}
.subscribe-image {
  height: 397px;
}

.subscribe .email {
  width: 358px;
  height: 48px;
  padding: 23px;
  border-radius: 26px;
  text-align: left;
  border: none;
  margin-right: 18px;
  outline: none;
}

/* Footer */

footer {
  background: url(./images/footer_background.png);
  background-repeat: no-repeat;
  width: 1440px;
  height: 538px;
  color: #ffffff;
}
.page-footer-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  margin: 0;
  padding: 151px;
}
.footer-logo {
  filter: brightness(0) invert(1);
  padding-bottom: 110px;
}
.icons {
  padding-inline-start: 0px;
}
.icons li {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-right: 10px;
}

.footer-nav-list {
  text-align: left;
  margin: 0;
  padding: 0;
}

.footer-nav-list li {
  list-style: none;
  line-height: 39px;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

footer a {
  text-decoration: none;
  outline: none;
  color: #ffffff;
}
