*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  font-size: 18px;
  color: #293241;
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 93px;
  background: rgba(255, 255, 255, 1);
  position: sticky;
  top: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.main-nav {
  margin: 19px 100px;
}

.logo {
  position: absolute;
  width: 148px;
  height: 56px;
  top: 24px;
}

.page-navigation {
  width: 275px;
  height: 24px;
}

.navigation-itiems {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  gap: 64px;
  list-style: none;
  position: absolute;
  top: 16px;
  left: 862px;
}

.navigation-itiem a {
  text-decoration: none;
  color: rgba(41, 50, 65, 1);
}
.navigation-itiem a:hover {
  font-weight: bold;
}

.sign-in {
  position: absolute;
  width: 122px;
  height: 43px;
  top: 25px;
  left: 1218px;
  background-color: #ee6c4d;
  color: #ffffff;
  border: none;
  border-radius: 48px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.sign-in:hover {
  background-color: #f5ef53;
  color: #293241;
  font-weight: bold;
}
