*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  font-size: 18px;
  color: #293241;
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 93px;
  background: rgba(255, 255, 255, 1);
  position: sticky;
  top: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.main-nav {
  margin: 19px 100px;
}

.logo {
  position: absolute;
  width: 148px;
  height: 56px;
  top: 24px;
}

.page-navigation {
  width: 275px;
  height: 24px;
}

.navigation-itiems {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  gap: 64px;
  list-style: none;
  position: absolute;
  top: 16px;
  left: 862px;
}

.navigation-itiem a {
  text-decoration: none;
  color: rgba(41, 50, 65, 1);
}
.navigation-itiem a:hover {
  font-weight: bold;
}

.button-style {
  background-color: #ee6c4d;
  color: #ffffff;
  border: none;
  border-radius: 48px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  height: 43px;
}

.button-style:hover {
  background-color: #f5ef53;
  color: #293241;
  font-weight: bold;
}

header .button-style {
  position: absolute;
  top: 25px;
  left: 1218px;
  width: 122px;
}

/* hero section */

.hero-container {
  background-image: url(./images/hero.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 790px;
  height: 631.05px;
  margin: 20px 103px 103px 103px;
}

h1 {
  padding-top: 160px;
  font-size: 50px;
  color: #ee6c4d;
  width: 494px;
  margin: 0px;
}
.hero-text {
  font-size: 20px;
  width: 360px;
  margin: 0px 0px 24px 0px;
}

.hero-container .button-style {
  width: 164px;
}
